:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.nav {
  font-weight: 500;
  color: #FFF48D;
}

body {
  place-items: center;
  text-align: center;
  color: #FFF48D;
  background-color: #AA4A44;
}

.cv {
  font-weight: 500;
  color: #000000;
}

.copyright {
  font-weight: 500;
  color: #000000;
}

.contact {
  font-size: 20px;
}