#root{
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 50px;
}

a {
  text-decoration: none;
  color: blue;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

ul{
  margin: 20;
  padding: 0;
  display:flex;
  gap: 15px;
  list-style: none;
}

li{
  margin: auto;
}
