a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.a_nav {
  color: rgb(0, 0, 0);
  font-size: 20px;
  background-color: rgb(255, 189, 91);
  border-radius: 150px;
  border-color: rgb(0, 0, 0);
  font-size: 24px;
}

.a_cv {
  color: rgb(0, 0, 0);
  font-size: 22px;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

ul{
  margin: 20;
  padding: 0;
  display:flex;
  gap: 15px;
  list-style: none;
}

li{
  margin: auto;
}

button{
  background-color: rgb(255, 189, 91);
  border-radius: 150px;
  border-color: rgb(0, 0, 0);
  font-size: 24px;
}

h2{
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tabs{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.tabs_onetabs{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  border: 3px solid #0c0c0c;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.tabs_onetabs p {
  text-align: left;
  line-height: 1.6;
  font-size: 20px;
}

.tabs_skillstabs{
  align-items: center;
  gap: 20px;
  font-size: 18x;
  border: 3px solid #0c0c0c;
  max-width: 800px;
  margin: 0 auto;
}

.tabs_skillstabs img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.tabs_skillstabs p {
  text-align: left;
  line-height: 1.6;
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 20px;
}

.card {
  background-color: rgb(255, 189, 91);
  border: 3px solid #000000;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.card-title{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.card-img {
  margin-bottom: 20px;
}

.card-date {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-content {
  font-size: 18px;
  color: #030303;
  padding-bottom: 20px;
}

.card-content button {
  display: block;
  margin: 20px auto 0;
  justify-content: center;
}

.contact_img {
  padding-top: 40px;
  padding-bottom: 20px;
}

.contact_sentence {
  font-size: 19px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 30px;
}

footer{
  padding-top: 40px;
}

/* Mobile Version */

@media (max-width: 768px) {
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }

  ul{
    margin: 20;
    padding: 0;
    display:flex;
    gap: 15px;
    list-style: none;
    flex-wrap: wrap;
  }

  li{
    margin: auto;
    flex-wrap: wrap;
  } 

  h2{
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .tabs{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tabs_onetabs{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    border: 3px solid #0c0c0c;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .tabs_onetabs img {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 200px;
    object-fit: contain;
  }

  .tabs_onetabs p {
    text-align: left;
    line-height: 1.6;
    font-size: 20px;
  }

  .tabs_skillstabs{
    align-items: center;
    gap: 20px;
    font-size: 18px;
    border: 3px solid #0c0c0c;
    max-width: 800px;
    margin: 0 auto;
  }

  .tabs_skillstabs img {
    width: 100%;
    max-width: 75px;
    height: 100%;
    max-height: 75px;
    object-fit: contain;
  }

  .tabs_skillstabs p {
    text-align: left;
    line-height: 1.6;
  }

  .card-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
  }

  .card-date {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card-content {
    font-size: 20px;
    color: #030303;
    padding-bottom: 20px;
  }

  .home_img {
    margin-bottom: 20px;
    height: 100%;
    max-height: 400px;
    width: 100%;
    max-width: 400px;
  }

  .contact_img {
    margin-bottom: 20px;
    height: 100%;
    max-height: 200px;
    width: 100%;
    max-width: 400px;
    padding-top: 60px;
    padding-bottom: 20px;
  }
}
