a {
  text-decoration: none;
}

.a_nav {
  color: rgb(0, 0, 0);
  font-size: 20px;
  background-color: rgb(255, 189, 91);
  border-radius: 150px;
  border-color: rgb(0, 0, 0);
  font-size: 24px;
}

.a_cv {
  color: rgb(0, 0, 0);
  font-size: 18px;
  background-color: rgb(255, 189, 91);
  border-radius: 150px;
  border-color: rgb(0, 0, 0);
  font-size: 22px;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

ul{
  margin: 20;
  padding: 0;
  display:flex;
  gap: 15px;
  list-style: none;
}

li{
  margin: auto;
}

button{
  background-color: rgb(255, 189, 91);
  border-radius: 150px;
  border-color: rgb(0, 0, 0);
  font-size: 24px;
}

.cards-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card{
  background-color: rgb(255, 189, 91);
  border: 1px solid #0c0c0c;
  border-radius: 30px;
  padding: 15px;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
}
